streamlit==1.38.0
ipykernel==6.29.5
langchain==0.2.16
langsmith==0.1.111
langfuse==2.52.1
langchain-community==0.2.16
python-dotenv==1.0.1
langchain_experimental==0.0.65
tabulate==0.9.0
matplotlib==3.9.2
langchain_postgres==0.0.12
faiss-cpu==1.9.0
langgraph==0.2.19
langchain-openai==0.1.23